Repository sonic-net/sonic-platform-daemons, pull requests merged in 2020-10, with the labels that each got.

#98 [psud] Fix psud logging
  sonic-psud/scripts/psud
Labels: Bug, psud

#103 [thermalctld] Print exception using repr(e) to get more information
  sonic-thermalctld/scripts/thermalctld
Labels: Enhancement, thermalctld

#106 [xcvrd] Remove dependence on enum; Add 'sonic-py-common' as dependencies in setup.py
  sonic-xcvrd/scripts/xcvrd
  sonic-xcvrd/setup.py
Labels: Bug
