Repository sonic-net/sonic-platform-daemons, pull requests merged in 2020-12, with the labels that each got.

#130 Clean some unused variables, check for multiAsic before calling initializeGlobalConfig
  sonic-ledd/scripts/ledd
  sonic-xcvrd/xcvrd/xcvrd.py
  sonic-xcvrd/xcvrd/xcvrd_utilities/y_cable_helper.py
Labels: Bug, Cleanup, ledd, xcvrd

#129 [xcvrd] Fix y_cable state updates from 'failure' to 'unknown' on error conditions/events
  sonic-xcvrd/xcvrd/xcvrd_utilities/y_cable_helper.py
Labels: Bug, xcvrd

#131 [xcvrd] replace check_active_linked_tor_side api to check_mux_direction for establishing the direction mux points to on y_cable
  sonic-xcvrd/xcvrd/xcvrd_utilities/y_cable_helper.py
Labels: Bug, xcvrd

#119 Import mock psu object for testing LED
  sonic-psud/scripts/psud
  sonic-psud/tests/mock_device_base.py
  sonic-psud/tests/mock_platform.py
  sonic-psud/tests/test_psud.py
Labels: Bug, psud

#132 Support python3 for xcvrd, psud, thermalctld and syseepromd
  sonic-psud/setup.py
  sonic-syseepromd/setup.py
  sonic-thermalctld/scripts/thermalctld
  sonic-thermalctld/setup.py
  sonic-xcvrd/setup.py
  sonic-xcvrd/xcvrd/xcvrd.py
  sonic-xcvrd/xcvrd/xcvrd_utilities/y_cable_helper.py
Labels: Enhancement, psud, syseepromd, thermalctld, xcvrd

#128 Align style with PEP8 standards
  sonic-chassisd/scripts/chassisd
  sonic-chassisd/setup.py
  sonic-chassisd/tests/mock_module_base.py
  sonic-chassisd/tests/mock_platform.py
  sonic-chassisd/tests/mock_swsscommon.py
  sonic-chassisd/tests/test_chassisd.py
  sonic-ledd/scripts/ledd
  sonic-ledd/setup.py
  sonic-pcied/scripts/pcied
  sonic-pcied/setup.py
  sonic-psud/scripts/psud
  sonic-psud/setup.py
  sonic-psud/tests/mock_device_base.py
  sonic-psud/tests/mock_platform.py
  sonic-psud/tests/mock_swsscommon.py
  sonic-psud/tests/test_psud.py
  sonic-syseepromd/scripts/syseepromd
  sonic-syseepromd/setup.py
  sonic-thermalctld/scripts/thermalctld
  sonic-thermalctld/setup.py
  sonic-thermalctld/tests/mock_platform.py
  sonic-thermalctld/tests/mock_swsscommon.py
  sonic-thermalctld/tests/test_thermalctld.py
  sonic-xcvrd/setup.py
  sonic-xcvrd/xcvrd/xcvrd.py
  sonic-xcvrd/xcvrd/xcvrd_utilities/y_cable_helper.py
Labels: Cleanup

#127 [chassisd] Monitor midplane status
  sonic-chassisd/scripts/chassisd
  sonic-chassisd/tests/mock_platform.py
  sonic-chassisd/tests/mock_swsscommon.py
  sonic-chassisd/tests/test_chassisd.py
Labels: Enhancement, chassisd

#135 [xcvrd] Fix unit test issue with Python 3
  sonic-xcvrd/tests/test_xcvrd.py
Labels: Bug, xcvrd

#137 [psud] Fix issue where PSU Fan info is not updated in State DB
  sonic-psud/scripts/psud
Labels: Bug, psud
