Repository sonic-net/sonic-platform-daemons, pull requests merged in 2020-08, with the labels that each got.

#78 [xcvrd] Fix bailing out on platforms that do not support QSFP-DD
  sonic-xcvrd/scripts/xcvrd
Labels: Bug, Request for 201911 Branch, xcvrd

#74 Migrate from sonic-daemon-base package to sonic-py-common package
  sonic-ledd/scripts/ledd
  sonic-pcied/scripts/pcied
  sonic-psud/scripts/psud
  sonic-syseepromd/scripts/syseepromd
  sonic-thermalctld/scripts/thermalctld
  sonic-thermalctld/tests/test_thermalctld.py
  sonic-xcvrd/scripts/xcvrd
Labels: Cleanup, ledd, pcied, psud, syseepromd, thermalctld, xcvrd

#79 Fix thermalctld tests which were broken by the transition to sonic-py-common
  sonic-thermalctld/tests/test_thermalctld.py
Labels: Bug, thermalctld

#80 Proper fix for thermalctld using sonic-py-common
  sonic-thermalctld/scripts/thermalctld
  sonic-thermalctld/tests/test_thermalctld.py
Labels: Bug, thermalctld

#82 [xcvrd][thermalctld] Add logger instances for helper functions and classes
  sonic-thermalctld/scripts/thermalctld
  sonic-xcvrd/scripts/xcvrd
Labels: Bug, thermalctld, xcvrd

#85 Python 3 compliance
  sonic-ledd/scripts/ledd
  sonic-pcied/scripts/pcied
  sonic-psud/scripts/psud
  sonic-syseepromd/scripts/syseepromd
  sonic-xcvrd/scripts/xcvrd
Labels: Cleanup, Enhancement, ledd, pcied, psud, syseepromd, xcvrd

#84 [pcied] Fix path to pcie.yaml in pcied daemon
  sonic-pcied/scripts/pcied
Labels: Bug, pcied

#83 [201911] Migrate from sonic-daemon-base package to sonic-py-common package
  sonic-ledd/scripts/ledd
  sonic-psud/scripts/psud
  sonic-syseepromd/scripts/syseepromd
  sonic-thermalctld/scripts/thermalctld
  sonic-thermalctld/tests/test_thermalctld.py
  sonic-xcvrd/scripts/xcvrd
Labels: Cleanup, Enhancement, Included in 201911 Branch, ledd, psud, syseepromd, thermalctld, xcvrd

#86 Update .gitignore file
  .gitignore
Labels: Cleanup

#81 [psud] Update FAN_INFO in psud to avoid inconsistant output of "show platform psustatus" and "show platform fan"
  sonic-psud/scripts/psud
Labels: Enhancement, psud

#77 [thermalctld] Optimize the thermal policy loop to make it execute every 60 seconds
  sonic-thermalctld/scripts/thermalctld
Labels: Enhancement, thermalctld

#64 Platform daemon changes for multi asic platform
  sonic-ledd/scripts/ledd
  sonic-xcvrd/scripts/xcvrd
Labels: Enhancement, Multi-ASIC, ledd, xcvrd
