Repository sonic-net/sonic-platform-daemons, pull requests merged in 2020-09, with the labels that each got.

#88 Remove sonic-utilities dependency from pcied
  sonic-pcied/scripts/pcied
Labels: Bug, pcied

#87 [ledd][multi-ASIC] Update to ledd based on sonic-swss-common updates
  sonic-ledd/scripts/ledd
Labels: Enhancement, ledd

#90 Fix the xcvrd throwing error on sfprecover function
  sonic-xcvrd/scripts/xcvrd
Labels: Request for 201911 Branch

#53 [xcvrd] Don't log unnecessary messages upon empty transceiver change event
  sonic-xcvrd/scripts/xcvrd
Labels: Enhancement, Request for 201911 Branch, xcvrd

#92 [thermalctld] Fix issue: fan status should not be True when fan is absent
  sonic-thermalctld/scripts/thermalctld
Labels: Bug, Request for 201911 Branch, thermalctld

#93 [pcied] Change STATE_DB key (PCIE_STATUS|PCIE_DEVICES -> PCIE_DEVICES)
  sonic-pcied/scripts/pcied
Labels: Bug, pcied

#94 [thermalctld] Fix issue: thermalctld should be auto restarted when being killed
  sonic-thermalctld/scripts/thermalctld
Labels: Bug, thermalctld

#95 Add 'wheel' package to 'setup_requires' list in all setup.py files
  sonic-ledd/setup.py
  sonic-pcied/setup.py
  sonic-psud/setup.py
  sonic-syseepromd/setup.py
  sonic-thermalctld/setup.py
  sonic-xcvrd/setup.py
Labels: Enhancement, ledd, pcied, psud, syseepromd, thermalctld, xcvrd

#96 [thermalctld] Fix fan status issue in 201911
  sonic-thermalctld/scripts/thermalctld
Labels: Bug, Included in 201911 Branch, thermalctld
