Repository sonic-net/sonic-platform-daemons, pull requests merged in 2020-07, with the labels that each got.

#63 [xcvrd] Update key names in 'get_media_settings_value()'
  sonic-xcvrd/scripts/xcvrd
Labels: Bug, Request for 201911 Branch

#61 [psud] Store PSU temperature and voltage information to database
  sonic-psud/scripts/psud
Labels: Enhancement

#66 [xcvrd] Add support for QSFP-DD cables
  sonic-xcvrd/scripts/xcvrd
Labels: Enhancement, xcvrd

#68 [201811][xcvrd] Return value of main() is returned as process exit code
  sonic-xcvrd/scripts/xcvrd
Labels: Enhancement, Included in 201811 branch, xcvrd

#60 Initial version of pcied
  sonic-pcied/scripts/pcied
  sonic-pcied/setup.py
Labels: Enhancement, pcied

#67 [xcvrd] Return non-zero error code on SFP error
  sonic-xcvrd/scripts/xcvrd
Labels: Enhancement, Request for 201911 Branch, xcvrd

#69 [README.md] Add LGTM badges
  README.md
Labels: Documentation

#70 Remove unused imports
  sonic-ledd/scripts/ledd
  sonic-psud/scripts/psud
  sonic-thermalctld/scripts/thermalctld
Labels: Cleanup, ledd, psud, thermalctld

#71 [Thermal] Fix for 'show platform fan' command
  sonic-thermalctld/scripts/thermalctld
Labels: Bug, Request for 201911 Branch, thermalctld

#75 Fix psud and test_thermalctld
  sonic-psud/scripts/psud
  sonic-thermalctld/tests/test_thermalctld.py
Labels: Bug, psud, thermalctld
