Repository sonic-net/sonic-platform-daemons, pull requests merged in 2020-11, with the labels that each got.

#108 [xcvrd] Remove log errors in single ASIC platforms with init Global config
  sonic-xcvrd/scripts/xcvrd
Labels: Bug, xcvrd

#107 [xcvrd] Add enum dependence back; Install 'enum34' conditionally based on Python version
  sonic-xcvrd/scripts/xcvrd
  sonic-xcvrd/setup.py
Labels: Enhancement

#105 [xcvrd] support for integrating Credo Y cable Ports initialization and status updates with xcvrd.
  sonic-xcvrd/setup.py
  sonic-xcvrd/src/__init__.py
  sonic-xcvrd/src/xcvrd.py
  sonic-xcvrd/src/xcvrd_utilities/__init__.py
  sonic-xcvrd/src/xcvrd_utilities/y_cable_helper.py
Labels: syseepromd, xcvrd

#97 Introduce chassisd to monitor status of cards on chassis
  .gitignore
  sonic-chassisd/pytest.ini
  sonic-chassisd/scripts/chassisd
  sonic-chassisd/setup.cfg
  sonic-chassisd/setup.py
  sonic-chassisd/tests/__init__.py
  sonic-chassisd/tests/mock_module_base.py
  sonic-chassisd/tests/mock_platform.py
  sonic-chassisd/tests/mock_swsscommon.py
  sonic-chassisd/tests/test_chassisd.py
Labels: Enhancement, chassisd

#104 PSUd changes to compute power-budget for Modular chassis
  .gitignore
  sonic-psud/pytest.ini
  sonic-psud/scripts/psud
  sonic-psud/setup.cfg
  sonic-psud/setup.py
  sonic-psud/tests/__init__.py
  sonic-psud/tests/mock_device_base.py
  sonic-psud/tests/mock_platform.py
  sonic-psud/tests/mock_swsscommon.py
  sonic-psud/tests/test_psud.py
Labels: Enhancement, psud

#101 [Thermalctld] Update thermal info to CHASSIS_STATE_DB
  sonic-thermalctld/scripts/thermalctld
  sonic-thermalctld/tests/mock_platform.py
  sonic-thermalctld/tests/mock_swsscommon.py
  sonic-thermalctld/tests/test_thermalctld.py
Labels: Enhancement, thermalctld

#111 [xcvrd] Fix the console-script xcvrd startup
  sonic-xcvrd/setup.py
  sonic-xcvrd/xcvrd/__init__.py
  sonic-xcvrd/xcvrd/xcvrd.py
  sonic-xcvrd/xcvrd/xcvrd_utilities/__init__.py
  sonic-xcvrd/xcvrd/xcvrd_utilities/y_cable_helper.py
Labels: Bug, xcvrd

#112 [chassisd][thermalctld] Import of mock libraries determined by environment variable
  sonic-chassisd/scripts/chassisd
  sonic-chassisd/tests/test_chassisd.py
  sonic-thermalctld/scripts/thermalctld
  sonic-thermalctld/tests/test_thermalctld.py
Labels: Bug, chassisd, thermalctld

#113 [chassisd][thermalctld] Import os module, now needed for env var checking
  sonic-chassisd/scripts/chassisd
  sonic-thermalctld/scripts/thermalctld
Labels: Bug, chassisd, thermalctld

#114 [chassisd][thermalctld] Set testing env var at top of file, not in setup_function()
  sonic-chassisd/tests/test_chassisd.py
  sonic-thermalctld/tests/test_thermalctld.py
Labels: Bug, chassisd, thermalctld

#117 [psud] Import of mock libraries determined by environment variable
  sonic-psud/scripts/psud
  sonic-psud/tests/test_psud.py
Labels: Bug, psud

#102 [sonic-platform-daemons] Add more physical entity information to DB for physical entity mib
  sonic-psud/scripts/psud
  sonic-thermalctld/scripts/thermalctld
  sonic-thermalctld/tests/mock_platform.py
  sonic-xcvrd/xcvrd/xcvrd.py
Labels: Enhancement, psud, thermalctld, xcvrd

#120 [thermalctld] [psud] [chassisd] Fix crash with undefined environment variable
  sonic-chassisd/scripts/chassisd
  sonic-psud/scripts/psud
  sonic-thermalctld/scripts/thermalctld
Labels: Bug, chassisd, psud, thermalctld

#121 Fix test_updater_thermal_check_min_max() failure
  sonic-thermalctld/tests/mock_platform.py
  sonic-thermalctld/tests/test_thermalctld.py
Labels: Bug, thermalctld

#125 [psud] Make sure psu leds are set on the first run
  sonic-psud/scripts/psud
Labels: Bug, psud
