Repository sonic-net/sonic-platform-daemons, pull requests merged in 2021-01, with the labels that each got.

#140 [psud] Increase unit test coverage
  sonic-psud/setup.py
  sonic-psud/tests/mock_platform.py
  sonic-psud/tests/test_PsuStatus.py
  sonic-psud/tests/test_psud.py
Labels: Unit Tests, psud

#141 [thermalctld] Report unit test coverage
  sonic-thermalctld/pytest.ini
  sonic-thermalctld/setup.py
  sonic-thermalctld/tests/test_thermalctld.py
Labels: Unit Tests, thermalctld

#143 [ledd] Minor refactor; add unit tests
  sonic-ledd/pytest.ini
  sonic-ledd/scripts/ledd
  sonic-ledd/setup.cfg
  sonic-ledd/setup.py
  sonic-ledd/tests/__init__.py
  sonic-ledd/tests/mock_swsscommon.py
  sonic-ledd/tests/test_ledd.py
Labels: Cleanup, Unit Tests, ledd

#100 [pcied] Add PCIe AER stats collection
  sonic-pcied/scripts/pcied
Labels: Enhancement, pcied
