Repository sonic-net/sonic-platform-daemons, pull requests merged in 2021-05, with the labels that each got.

#178 [201911] [xcvrd] Gracefully handle improper 'specification_compliance' field; also fix other potential bugs
  sonic-xcvrd/scripts/xcvrd
Labels: Bug, Included in 201911 Branch, xcvrd

#176 [xcvrd] Change the y_cable presence logic to use "mux_cable" table as identifier from Config DB
  sonic-xcvrd/xcvrd/xcvrd_utilities/y_cable_helper.py
Labels: Request for 202012 Branch, xcvrd

#180 [thermalctld] Enable stopping thermal manager
  sonic-thermalctld/scripts/thermalctld
  sonic-thermalctld/tests/test_thermalctld.py
Labels: Enhancement, thermalctld

#174 [muxcable] Remove Xcvrd Sleep
  sonic-xcvrd/xcvrd/xcvrd_utilities/y_cable_helper.py
Labels: Request for 202012 Branch

#179 [psud] Add PSU Hardware Revision to Redis STATE_DB
  sonic-psud/scripts/psud
  sonic-psud/tests/mock_platform.py
  sonic-psud/tests/test_DaemonPsud.py
Labels: Enhancement, psud

#185 [xcvrd] add support for logging mux_metrics events into state DB
  sonic-xcvrd/xcvrd/xcvrd_utilities/y_cable_helper.py
Labels: Enhancement, Request for 202012 Branch, xcvrd

#183 [chassisd] Add script to initialize chassis info in STATE_DB
  sonic-chassisd/scripts/chassis_db_init
  sonic-chassisd/setup.py
  sonic-chassisd/tests/mock_platform.py
  sonic-chassisd/tests/test_chassis_db_init.py
Labels: Enhancement, chassisd

#187 Mocking path early so it will applied to sonic_py_common, mock more swsscommon classes
  sonic-thermalctld/tests/mocked_libs/swsscommon/swsscommon.py
  sonic-thermalctld/tests/test_thermalctld.py
Labels: Enhancement, Unit Tests, thermalctld

#186 [201911] Initialize fan led in thermalctld for the first run
  sonic-thermalctld/scripts/thermalctld
Labels: Enhancement, Included in 201911 Branch, thermalctld
