Repository sonic-net/sonic-platform-daemons, pull requests merged in 2021-02, with the labels that each got.

#147 [ledd] Refactor to allow for more thorough unit testing; Increase unit test coverage
  sonic-ledd/scripts/ledd
  sonic-ledd/tests/test_ledd.py
Labels: Unit Tests, ledd

#149 [ci] Test and build packages using Azure Pipelines
  .artifactignore
  azure-pipelines.yml
  sonic-chassisd/pytest.ini
  sonic-ledd/pytest.ini
  sonic-psud/pytest.ini
  sonic-thermalctld/pytest.ini
  sonic-xcvrd/pytest.ini
Labels: CI

#150 [ci] Call pip2/3 using sudo
  azure-pipelines.yml
Labels: CI

#144 [pcied] Remove unnecessary message and move the configuration path
  sonic-pcied/scripts/pcied
Labels: Bug, Cleanup, pcied

#151 [GitHub] Add pull request template
  .github/pull_request_template.md
Labels: Documentation

#148 [xcvrd] Store mux_cable telemetry data in State DB
  sonic-xcvrd/tests/test_xcvrd.py
  sonic-xcvrd/xcvrd/xcvrd.py
  sonic-xcvrd/xcvrd/xcvrd_utilities/y_cable_helper.py
Labels: Enhancement, xcvrd

#146 [psud] Refactor unit tests; increase unit test coverage
  sonic-psud/scripts/psud
  sonic-psud/tests/mock_platform.py
  sonic-psud/tests/mock_swsscommon.py
  sonic-psud/tests/test_DaemonPsud.py
  sonic-psud/tests/test_PsuChassisInfo.py
  sonic-psud/tests/test_PsuStatus.py
  sonic-psud/tests/test_psud.py
Labels: Unit Tests, psud

#153 [xcvrd] Make functions used for media setting python3 compatible
  sonic-xcvrd/xcvrd/xcvrd.py
Labels: xcvrd

#123 [xcvrd] Fix xcvrd crash on other port prefixes
  sonic-xcvrd/xcvrd/xcvrd.py
Labels: Bug, xcvrd

#72 [xcvrd] Save the dom_capability of transceiver into db
  sonic-xcvrd/tests/test_xcvrd.py
  sonic-xcvrd/xcvrd/xcvrd.py
Labels: Enhancement, xcvrd

#155 [201911][xcvrd] Change in xcvrd ports cache creation, now ports are being fetched from config DB
  sonic-xcvrd/scripts/xcvrd
Labels: Included in 201911 Branch, xcvrd
