Repository sonic-net/sonic-platform-daemons, pull requests merged in 2021-09, with the labels that each got.

#214 [Y-Cable] create unknown entries for mux_cable when there is a cable present but module definition is not present
  sonic-xcvrd/xcvrd/xcvrd_utilities/y_cable_helper.py
Labels: Request for 202012 Branch

#203 Fix a bug at removing asics on not-online cards
  sonic-chassisd/scripts/chassisd
Labels: Request for 202106 branch, Chassis

#216 [xcvrd][y_cable] refactor xcvrd to listen to port probe without locks; fix the get_firmware_version API to sync with download_firmware
  sonic-xcvrd/xcvrd/xcvrd_utilities/y_cable_helper.py
Labels: xcvrd, Request for 202012 Branch
