Repository sonic-net/sonic-platform-daemons, pull requests merged in 2021-03, with the labels that each got.

#158 [xcvrd] Fix crash on platforms which support media settings with Python 3
  sonic-xcvrd/xcvrd/xcvrd.py
Labels: Bug, xcvrd

#159 fix the muxcable state change notification received from other modules, omit the check inside hw_state table
  sonic-xcvrd/xcvrd/xcvrd_utilities/y_cable_helper.py
Labels: Bug, xcvrd

#162 [xcvrd] Fix crash: If 'dom_capability' not in port_info_dict, insert 'N/A'
  sonic-xcvrd/xcvrd/xcvrd.py
Labels: Bug

#157 [thermalctld] Refactor to allow for greater unit test coverage; Add more unit tests
  azure-pipelines.yml
  sonic-thermalctld/pytest.ini
  sonic-thermalctld/scripts/thermalctld
  sonic-thermalctld/setup.py
  sonic-thermalctld/tests/mock_platform.py
  sonic-thermalctld/tests/mock_swsscommon.py
  sonic-thermalctld/tests/mocked_libs/sonic_platform/__init__.py
  sonic-thermalctld/tests/mocked_libs/sonic_platform/chassis.py
  sonic-thermalctld/tests/mocked_libs/sonic_platform/platform.py
  sonic-thermalctld/tests/mocked_libs/swsscommon/__init__.py
  sonic-thermalctld/tests/mocked_libs/swsscommon/swsscommon.py
  sonic-thermalctld/tests/test_thermalctld.py
Labels: Cleanup, Unit Tests, thermalctld

#165 [xcvrd] change firmware information fields name inside MUX_CABLE_INFO table for Y cable
  sonic-xcvrd/tests/test_xcvrd.py
  sonic-xcvrd/xcvrd/xcvrd_utilities/y_cable_helper.py
Labels: Enhancement, xcvrd

#168 [psud] Bug fix: the fields that are not supported by vendor should be "N/A" in STATE_DB
  sonic-psud/scripts/psud
  sonic-psud/tests/test_PsuStatus.py
Labels: Bug, psud
