Repository sonic-net/sonic-platform-daemons, pull requests merged in 2021-04, with the labels that each got.

#169 [xcvrd] Gracefully handle improper 'specification_compliance' field; also fix other potential bugs
  sonic-xcvrd/tests/test_xcvrd.py
  sonic-xcvrd/xcvrd/xcvrd.py
Labels: Bug, xcvrd

#156 [syseepromd] Add unit tests; Refactor to allow for greater unit test coverage
  sonic-syseepromd/pytest.ini
  sonic-syseepromd/scripts/syseepromd
  sonic-syseepromd/setup.cfg
  sonic-syseepromd/setup.py
  sonic-syseepromd/tests/__init__.py
  sonic-syseepromd/tests/mocked_libs/sonic_platform/__init__.py
  sonic-syseepromd/tests/mocked_libs/sonic_platform/chassis.py
  sonic-syseepromd/tests/mocked_libs/sonic_platform/platform.py
  sonic-syseepromd/tests/mocked_libs/swsscommon/__init__.py
  sonic-syseepromd/tests/mocked_libs/swsscommon/swsscommon.py
  sonic-syseepromd/tests/test_syseepromd.py
Labels: Cleanup, Unit Tests, syseepromd

#171 [xcvrd] refactor Y-Cable firmware information to conform with all vendors
  sonic-xcvrd/tests/test_xcvrd.py
  sonic-xcvrd/xcvrd/xcvrd_utilities/y_cable_helper.py
Labels: xcvrd

#173 [muxcable] Fix Redis Selectable Processing
  sonic-xcvrd/xcvrd/xcvrd_utilities/y_cable_helper.py
Labels: Request for 202012 Branch

#177 [xcvrd] Enhance Media Settings
  sonic-xcvrd/tests/test_xcvrd.py
  sonic-xcvrd/xcvrd/xcvrd.py
Labels: Enhancement, xcvrd
