Repository sonic-net/sonic-platform-daemons, pull requests merged in 2022-12, with the labels that each got.

#320 Create TRANSCEIVER_DOM_THRESHOLD table in state DB
  sonic-xcvrd/tests/test_xcvrd.py
  sonic-xcvrd/xcvrd/xcvrd.py
Labels: xcvrd

#304 Add new fields to status/dom_sensor/pm tables in STATE_DB for CMIS/C-CMIS
  sonic-xcvrd/tests/mock_swsscommon.py
  sonic-xcvrd/tests/test_xcvrd.py
  sonic-xcvrd/xcvrd/xcvrd.py
Labels: CMIS

#315 [thermalctld] fix some redundant removal of state DB tables
  sonic-thermalctld/scripts/thermalctld
  sonic-thermalctld/tests/test_thermalctld.py
Labels: thermalctld
