Repository sonic-net/sonic-platform-daemons, pull requests merged in 2022-11, with the labels that each got.

#310 [ycabled] move swsscommon API's from subroutines to call them exactly once per task_worker/thread
  sonic-ycabled/tests/test_y_cable_helper.py
  sonic-ycabled/tests/test_ycable.py
  sonic-ycabled/ycable/ycable.py
  sonic-ycabled/ycable/ycable_utilities/y_cable_helper.py
  sonic-ycabled/ycable/ycable_utilities/y_cable_table_helper.py
Labels: Enhancement, Y-Cable

#303 [ycabled] move swsscommon API's from subroutines to call them exactly once per task_worker/thread
  sonic-ycabled/tests/test_y_cable_helper.py
  sonic-ycabled/tests/test_ycable.py
  sonic-ycabled/ycable/ycable.py
  sonic-ycabled/ycable/ycable_utilities/y_cable_helper.py
  sonic-ycabled/ycable/ycable_utilities/y_cable_table_helper.py
Labels: Enhancement, Y-Cable

#306 [ycabled] fix exception-handling logic for ycabled
  sonic-ycabled/tests/test_ycable.py
  sonic-ycabled/ycable/ycable.py
  sonic-ycabled/ycable/ycable_utilities/y_cable_helper.py
Labels: Y-Cable

#312 [ycabled] fix exception-handling logic for ycabled
  sonic-ycabled/tests/test_ycable.py
  sonic-ycabled/ycable/ycable.py
  sonic-ycabled/ycable/ycable_utilities/y_cable_helper.py
Labels: Enhancement, Y-Cable

#311 [chassisd] update chassisd to write fabric and lc asics on seperate table in chassis state db
  sonic-chassisd/scripts/chassisd
  sonic-chassisd/tests/test_chassisd.py
Labels: chassisd

#317 Pass grid parameter while calling set_laser_freq
  sonic-xcvrd/xcvrd/xcvrd.py
Labels: Bug, CMIS

#319 [ycabled] fix minor appl_db retrieving logic for update
  sonic-ycabled/tests/test_y_cable_helper.py
  sonic-ycabled/ycable/ycable_utilities/y_cable_helper.py
Labels: Request for 202205 branch
