Repository sonic-net/sonic-platform-daemons, pull requests merged in 2023-01, with the labels that each got.

#329 Fix bug where transceiver info is missing after port breakout change
  sonic-xcvrd/tests/test_xcvrd.py
  sonic-xcvrd/xcvrd/xcvrd.py
Labels: Bug, Request for 202205 branch, Request for 202211 branch

#328 Chassisd do an explicit stop of the config_manager
  sonic-chassisd/scripts/chassisd
  sonic-chassisd/tests/mock_swsscommon.py
  sonic-chassisd/tests/mocked_libs/sonic_platform/__init__.py
  sonic-chassisd/tests/mocked_libs/sonic_platform/chassis.py
  sonic-chassisd/tests/mocked_libs/sonic_platform/platform.py
  sonic-chassisd/tests/test_chassisd.py
Labels: chassisd, Request for 202205 branch

#326 Xcvrd should restart if any child thread crashes
  sonic-xcvrd/tests/test_xcvrd.py
  sonic-xcvrd/xcvrd/xcvrd.py
Labels: xcvrd

#333 [Xcvrd]: Fix optics insertion/removal not detected
  sonic-xcvrd/setup.py
  sonic-xcvrd/xcvrd/xcvrd.py
  sonic-xcvrd/xcvrd/xcvrd_utilities/port_mapping.py
Labels: Bug, xcvrd, Request for 202205 branch, Request for 202211 branch

#332 add data for telemtery enhancement for 'active-active' cable type
  sonic-ycabled/tests/test_y_cable_helper.py
  sonic-ycabled/ycable/ycable_utilities/y_cable_helper.py
Labels: Request for 202205 branch, Request for 202211 branch
