Repository sonic-net/sonic-platform-daemons, pull requests merged in 2023-03, with the labels that each got.

#341 [ycable] add changes for correcting telemetry values for 'active-active'
  sonic-ycabled/tests/test_y_cable_helper.py
  sonic-ycabled/ycable/ycable_utilities/y_cable_helper.py
Labels: Y-Cable, Request for 202205 branch, Request for 202211 branch

#340 Fixed chassis: test_container_checker failure for swss/syncd/teamd on multi-asic Supervisor - issue #13559
  sonic-chassisd/scripts/chassisd
  sonic-chassisd/tests/test_chassisd.py
Labels: Chassis, Request for 202205 branch, P0, Request for 202211 branch

#347 chassisd: Fix crash on exit on linecard
  sonic-chassisd/scripts/chassisd
  sonic-chassisd/tests/mock_swsscommon.py
  sonic-chassisd/tests/test_chassisd.py
Labels: Request for 202205 branch, Request for 202211 branch

#346 Fix issue: Exception occured at SfpStateUpdateTask thread due to KeyError('status')
  sonic-xcvrd/tests/test_xcvrd.py
  sonic-xcvrd/xcvrd/xcvrd.py
Labels: Bug, Request for 202205 branch, Request for 202211 branch
