Repository sonic-net/sonic-platform-daemons, pull requests merged in 2023-07, with the labels that each got.

#367 [PSU power threshold] Fix logic error: compare the system power with the PSU's power threshold
  sonic-psud/scripts/psud
  sonic-psud/tests/test_DaemonPsud.py
Labels: Request for 202211 branch, Request for 202305 branch

#373 [ycabled][active-active] no initialize Async Client, when no active-active cable type; fix names for all ycabled threads
  sonic-ycabled/tests/test_y_cable_helper.py
  sonic-ycabled/tests/test_ycable.py
  sonic-ycabled/ycable/ycable.py
  sonic-ycabled/ycable/ycable_utilities/y_cable_helper.py
Labels: Y-Cable

#331 Added PCIe transaction check for all peripherals on the bus
  sonic-pcied/scripts/pcied
  sonic-pcied/tests/test_DaemonPcied.py
Labels: pcied, Request for 202012 Branch, Request for 202205 branch, Request for 202305 branch

#386 Fix index out of range in the error log of invalid media lane mask re…
  sonic-xcvrd/xcvrd/xcvrd.py
Labels: Bug, CMIS

#389 Fixes for the issues uncovered by sonic-pcied unit tests
  sonic-pcied/scripts/pcied
  sonic-pcied/tests/mocked_libs/swsscommon/swsscommon.py
  sonic-pcied/tests/test_DaemonPcied.py
Labels: Bug, pcied, Request for 202305 branch
