Repository sonic-net/sonic-platform-daemons, pull requests merged in 2025-03, with the labels that each got.

#582 [xcvrd] Enable periodic polling of VDM relevant data
  sonic-xcvrd/tests/test_xcvrd.py
  sonic-xcvrd/xcvrd/dom/__init__.py
  sonic-xcvrd/xcvrd/dom/dom_mgr.py
  sonic-xcvrd/xcvrd/dom/utilities/__init__.py
  sonic-xcvrd/xcvrd/dom/utilities/db/utils.py
  sonic-xcvrd/xcvrd/dom/utilities/vdm/db_utils.py
  sonic-xcvrd/xcvrd/dom/utilities/vdm/utils.py
  sonic-xcvrd/xcvrd/xcvrd.py
  sonic-xcvrd/xcvrd/xcvrd_utilities/port_event_helper.py
  sonic-xcvrd/xcvrd/xcvrd_utilities/utils.py
  sonic-xcvrd/xcvrd/xcvrd_utilities/xcvr_table_helper.py
Labels: xcvrd

#593 Add pipeline check for missing __init__.py in sonic-xcvrd whl package
  azure-pipelines.yml
  sonic-xcvrd/xcvrd/dom/utilities/db/__init__.py
  sonic-xcvrd/xcvrd/dom/utilities/vdm/__init__.py
Labels: Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412

#595 [xcvrd] Skip VDM threshold DB update for flat memory transceivers
  sonic-xcvrd/tests/test_xcvrd.py
  sonic-xcvrd/xcvrd/dom/utilities/vdm/db_utils.py
  sonic-xcvrd/xcvrd/xcvrd_utilities/utils.py
Labels: Bug, xcvrd, Request for msft-202412 Branch

#602 [xcvrd] Add wait based on MaxDurationDPTxTurnOff after disabling Tx
  sonic-xcvrd/tests/test_xcvrd.py
  sonic-xcvrd/xcvrd/xcvrd.py
Labels: xcvrd, Request for msft-202412 Branch, Cherry Pick Conflict_msft-202412
